{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}News Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <h1 class="white-text">{% block header %}Портал Новостей{% endblock %}</h1>
    </header>

    <nav>
        <ul>
            <li><a href="{% url 'home' %}">Главная</a></li>
            <li><a href="{% url 'news_list' %}">Новости</a></li>
        </ul>
    </nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
       <p>© 2024 Проект создал: <a href="https://github.com/mrGerber91">mrGerber91</a></p>
    </footer>
</body>
</html>