{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}News Portal{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>
<body>
    <header>
        <h1>
            {% block header %}Портал Новостей{% endblock %}
            <div id="real-time">{{ real_time|date:"F j, Y H:i:s" }}</div>
        </h1>

    </header>

<nav>
    <ul>
        <li><a href="{% url 'home' %}">Главная</a></li>
        <li><a href="{% url 'news_list' %}">Новости</a></li>
        <li><a href="{% url 'search_news' %}">Поиск</a></li>
        <li class="dropdown">
            <a href="#" class="dropbtn">Создать</a>
            <div class="dropdown-content">
                <a href="{% url 'create_news' %}">Новость</a>
                <a href="{% url 'create_article' %}">Статью</a>
            </div>
        </li>
    </ul>
</nav>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
       <p>© 2024 Проект создал: <a href="https://github.com/mrGerber91">mrGerber91</a></p>
    </footer>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Функция для обновления времени
            function updateRealTime() {
                // Получаем текущее время с помощью Django-шаблонного тега
                var currentTime = '{% get_real_time %}';

                // Отображаем время в элементе на странице
                document.getElementById('real-time').textContent = '' + currentTime;
            }

            // Обновляем время каждую секунду
            setInterval(updateRealTime, 1000);

            // Вызываем функцию обновления времени в начале
            updateRealTime();
        });
    </script>
</body>
</html>